body {
  background-image: url(./img/Background_game.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
}

h1 {
  color: whitesmoke;
}

h2{text-align: center;
color: whitesmoke;
}

p{
  color: whitesmoke;
}
input{
  color: whitesmoke;
}

#logo {
  justify-content: center;
  display: flex;
}

.logo_inicio{
  height: auto;
    width: 40%;
    padding-top: 2em;
}
.titulo {
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  padding: 1%;
  margin-bottom: 2%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.botones_temas_caja {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 53vh;
  padding-top: 2%;
  grid-gap: 2%;
  /* display: flex; */
  justify-content: center;        
}

#botones_temas_futbol {
  margin: 2px 2px 2px 2px;
  border-radius: 4%;
  background-image: url(./img/Grupo13.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 380px;
  width: 261px;
  border-style: none;
  list-style: none;
}

#botones_temas_basket {
  margin: 2px 2px 2px 2px;
  border-radius: 4%;
  background-image: url(./img/Grupo12.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 380px;
  width: 261px;
  border-style: none;
  list-style: none;
}


#botones_temas_boxeo {
  margin: 2px 2px 2px 2px;
  border-radius: 4%;
  background-image: url(./img/Grupo14.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 380px;
  width: 261px;
  border-style: none;
  list-style: none;
}
.texto_jugar_caja{
  display: flex;
    justify-content: center;
    padding-top: 3em;
}

.texto_jugar{
  background-color: yellowgreen;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 412px;
    padding: 1em;
  
}
.texto_inicio {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  text-align: center;
  padding: 1%;
  margin-bottom: 2%;
}

.contenedor_respuestas {
  display: grid;
  grid-template-columns: 5vh 1fr !important;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  background: yellow;
  opacity: 0.45;
  text-justify: auto;
  font-size: larger;
}

.botones_preguntas_validar {
  color: black;
  background-color: #d1ed24;
  border-radius: 0%;
  height: 28px;
  width: 7em;
  font-size: 18px;
  padding: 1px;
}

.boton_salir {
  color: black;
  background-color: #d1ed24;
  height: 28px;
  width: 7em;
  font-size: 18px;
  padding: 1px;
}

.boton_validar {
  color: black;
  background-color: #d1ed24;
  height: 28px;
  width: 7em;
  font-size: 18px;
  padding: 1px;
}
.pop-up-bueno {
    position: absolute;
    text-align: center;
    left: 0px;
    right: 0;
    margin: auto;
    top: 28px;
    display: none;
    text-align: center;
    background: rgba(0, 0, 0, .9);
    padding: 1em 7em 7em 7em;
    position: fixed;
    width: 800px;
    height: 400px;
}

.pop-up-malo {
  position: absolute;
  text-align: center;
  left: 0px;
  right: 0;
  margin: auto;
  top: 28px;
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, .9);
  padding: 1em 7em 7em 7em;
  position: fixed;
  width: 800px;
  height: 400px;
}